
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h2 class="mb-3">Ogólne warunki najmu pojazdów</h2>
            <p>
                OGÓLNE WARUNKI NAJMU POJAZDU [w tym korzystania z serwisu www.gearrent.pl w celu zawarcia umowy najmu pojazdów].
            </p>
            <p class="mb-0">
                Pełny dokument:
            </p>
            <p>
                <a href="@Url.Action("DownloadFile", "Contact", new { fileName = "terms_and_conditions.pdf" })" class="btn btn-primary btn-sm mt-3 mb-4" download>
                    Pobierz Ogólne warunki najmu pojazdów (PDF)
                </a>
            </p>
        </div>
    </div>

</div>