@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="mt-2">Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link">Profile</a></li>
                <li class="nav-item"><a class="nav-link">Email</a></li>
                <li class="nav-item"><a class="nav-link">Password</a></li>

                <li class="nav-item"><a class="nav-link">Two-factor authentication</a></li>
                <li class="nav-item"><a class="nav-link">Personal data</a></li>
                <li class="nav-item"><a class="nav-link">Rent history</a></li>
            </ul>

        </div>
        <div class="col-md-9">
            @*@RenderBody()*@

        </div>
    </div>
</div>
