
GearRentxUnit/bin/Release/net7.0/CoverletSourceRootsMapping
.vs/slnx.sqlite
GearRentxUnit/bin/Debug/net7.0/CoverletSourceRootsMapping
GearRentxUnit/bin/Release/net7.0/CoverletSourceRootsMapping
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.assets.cache
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.csproj.AssemblyReference.cache
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.GeneratedMSBuildEditorConfig.editorconfig
GearRentxUnit/obj/GearRentxUnit.csproj.nuget.dgspec.json
GearRentxUnit/obj/GearRentxUnit.csproj.nuget.g.props
GearRentxUnit/obj/project.assets.json
GearRentxUnit/obj/project.nuget.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.assets.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.csproj.AssemblyReference.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.GeneratedMSBuildEditorConfig.editorconfig
.vs/slnx.sqlite
GearRentxUnit/bin/Debug/net7.0/CoverletSourceRootsMapping
GearRentxUnit/bin/Release/net7.0/CoverletSourceRootsMapping
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.assets.cache
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.csproj.AssemblyReference.cache
GearRentxUnit/obj/Debug/net7.0/GearRentxUnit.GeneratedMSBuildEditorConfig.editorconfig
GearRentxUnit/obj/GearRentxUnit.csproj.nuget.dgspec.json
GearRentxUnit/obj/GearRentxUnit.csproj.nuget.g.props
GearRentxUnit/obj/project.assets.json
GearRentxUnit/obj/project.nuget.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.assets.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.csproj.AssemblyReference.cache
GearRentxUnit/obj/Release/net7.0/GearRentxUnit.GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.cache
*.sqlite
*.cache
*.editorconfig
*.sqlite
.vs/slnx.sqlite
