
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h2 class="mb-3">Polityka prywatności serwisu „GearRent”</h2>
            <p>Administratorem danych jest:</p>
            <p>GearRent Polska Sp. z o.o. z siedzibą w Poznaniu, przy ul. Półwiejskiej 42, has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p>
            <p>Z GearRent można szybko i efektywnie kontaktować się pod wskazanym numerem telefonu:</p>
            <p class="mb-4">
                123 456 789 oraz przy wykorzystaniu poczty elektronicznej: <a href="mailto:kontakt@gearrent.pl">kontakt@gearrent.pl</a>. W przypadku kontaktu telefonicznego, koszty połączenia są zgodne z posiadaną taryfą, nie są jednak wyższe niż zwykłe koszty za wykonanie połączenia.
            </p>
            <p class="mb-0">Pełny dokument:</p>
            <p>
                <a href="@Url.Action("DownloadFile", "Contact", new { fileName = "privacy_policy.pdf" })" class="btn btn-primary btn-sm mt-3 mb-4" download>
                    Pobierz Politykę prywatności serwisu „GearRent” (PDF)
                </a>
            </p>
        </div>
    </div>

</div>