@model GearRent.Models.CreateReservationViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="mt-4">Create Reservation</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form id="reservationForm" asp-action="Create">
                <!-- Informacje o wypożyczeniu -->
                <div class="form-group">
                    <input asp-for="UserId" type="hidden" />
                </div>

                <div class="form-group">
                    <label asp-for="CarId" class="control-label">Car ID:</label>
                    <input asp-for="CarId" class="form-control" readonly />
                </div>
                <input type="hidden" id="unpaid" name="Unpaid" value="false" />
                <input type="hidden" id="selectedBillingInfo" name="selectedBillingInfo" />

                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date:</label>
                    <input asp-for="StartDate" class="form-control" readonly />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End Date:</label>
                    <input asp-for="EndDate" class="form-control" readonly />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="button" id="createButton" class="btn btn-primary mt-3">Create Reservation</button>
                    @if (Model.StartDate != null)
                    {
                        DateTime startDate = DateTime.Parse(Model.StartDate);
                        if (startDate.Date >= DateTime.Now.Date.AddDays(4))
                        {
                            <button type="button" id="unpaidButton" class="btn btn-secondary mt-3">Create and Send Unpaid Email</button>
                        }
                    }
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <!-- Opcje wyboru adresu rozliczeniowego -->
            <div class="form-group">
                <label class="control-label">Select Billing Information:</label>
                <div id="existingBillingInfo">
                </div>
                <button id="addBillingInfoButton" type="button">Add New Billing Info</button>
                <div id="addBillingInfoForm" style="display: none;">
                    <h2>Add Billing Information</h2>
                    <form id="addBillingInfo" asp-action="AddBillingInfo" method="post">
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.FirstName">First Name:</label>
                            <input asp-for="NewBillingInfo.FirstName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.LastName">Last Name:</label>
                            <input asp-for="NewBillingInfo.LastName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.PhoneNumber">Phone Number:</label>
                            <input asp-for="NewBillingInfo.PhoneNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.Street">Street:</label>
                            <input asp-for="NewBillingInfo.Street" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.City">City:</label>
                            <input asp-for="NewBillingInfo.City" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NewBillingInfo.PostalCode">Postal Code:</label>
                            <input asp-for="NewBillingInfo.PostalCode" class="form-control" />
                        </div>

                        <button type="submit" id="submitBillingInfoButton" class="btn btn-primary">Add Billing Address</button>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    document.getElementById("createButton").addEventListener("click", function () {
        document.getElementById("unpaid").value = "false";
        document.getElementById("reservationForm").submit();
    });

    document.getElementById("unpaidButton").addEventListener("click", function () {
        document.getElementById("unpaid").value = "true";
        document.getElementById("reservationForm").submit();
    });

    $("#addBillingInfoButton").click(function () {
        $("#addBillingInfoForm").show();
    });

    $("#addBillingInfo").submit(function (e) {
        e.preventDefault();

        var formData = {
            FirstName: $("input[name='NewBillingInfo.FirstName']").val(),
            LastName: $("input[name='NewBillingInfo.LastName']").val(),
            PhoneNumber: $("input[name='NewBillingInfo.PhoneNumber']").val(),
            Street: $("input[name='NewBillingInfo.Street']").val(),
            City: $("input[name='NewBillingInfo.City']").val(),
            PostalCode: $("input[name='NewBillingInfo.PostalCode']").val()
        };

        $.ajax({
            url: "/BillingInfo/AddBillingInfo",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData),
            success: function (response) {
                if (response.success) {
                    $("#addBillingInfoForm").hide();
                    alert(response.message);
                    loadBillingAddresses();
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                alert("An error occurred.");
            }
        });
    });

    function loadBillingAddresses() {
        $.ajax({
            url: "/BillingInfo/GetBillingAddresses",
            type: "GET",
            success: function (html) {
            $("#existingBillingInfo").empty();
            $("#existingBillingInfo").html(html);
                updateSelectedBillingInfo();
            var selectedValue = $('input[name="SelectedBillingInfoId"]:checked').val();
            $('#selectedBillingInfo').val(selectedValue);
            },
            error: function (error) {
                alert("An error occurred while fetching billing addresses.");
            }
        });
    };

    loadBillingAddresses();

    function updateSelectedBillingInfo() {
        $('input[name="SelectedBillingInfoId"]').change(function () {
            var selectedValue = $('input[name="SelectedBillingInfoId"]:checked').val();
            $('#selectedBillingInfo').val(selectedValue);
        });
    }


</script>
