@model GearRent.Models.Reservation

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center ">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-lg rounded-lg">
                <div class="card-body text-center m-3">
                    <h1 class="card-title m-5">Dziękujemy za wypożyczenie samochodu</h1>
                    @*                    <img src="" alt="Samochód" class="img-fluid rounded" />
                    *@
                    @if (ViewBag.EmailSent == false)
                    {
                        <p class="card-text " style="color: red;">Przepraszamy za brak wiadomości email potwierdzającej wypożyczenie. Wystąpił błąd w systemie mailingowym.</p>

                    }
                    <p class="card-text">Wypożyczyłeś samochód marki @ViewBag.Car.Make  @ViewBag.Car.Model , na okres od @Model.StartDate.ToShortDateString() do @Model.EndDate.ToShortDateString()</p>
                    <p class="card-text">Życzymy miłego użytkowania i bezpiecznej jazdy!</p>
                </div>
            </div>
        </div>
    </div>
</div>