@{
    ViewData["Title"] = "Home Page";
}
<style>
    .team-member {
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
        width: 100%;
        height: 800px;
    }

        .team-member img {
            border-radius: 10%;
            margin-bottom: 10px;
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .team-member h3 {
            margin-bottom: 10px;
        }


        .team-member p {
            color: #777;
        }

        .team-member .member-description {
            display: block;
        }

        .team-member:hover .member-description {
            display: block;
        }
</style>
@*<div class="container-fluid">
    <div class="row justify-content-center flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/luxuryCar.jpg">Kategoria 3</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/economicCar.jpg">Kategoria 4</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/sportCar.jpg">Kategoria 5</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/comfortableCar.jpg">Kategoria 6</div>
        </div>
    </div>
</div>*@



<section class="container mt-8">
    <h1 class="text-center mb-4">Our Team</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="team-member">
                <img src="~/portret.jpg" alt="Team Member 3">
                <h3>John Doe</h3>
                <p>CO-FOUNDER</p>
                <div class="member-description">
                    <h5>
                        Co-founder of the company. Experienced entrepreneur with a passion for innovation.
                    </h5>
                    <div class="social-icons">
                        <div class="email-container">
                            <h6 class="email-link m-5">
                                john.doe@example1.com                            <button class="btn">
                                    <svg class="bi bi-clipboard clipboard-icon mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5                           1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg>
                                </button>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="team-member">
                <img src="~/portret.jpg" alt="Team Member 3">
                <h3>Jane Smith</h3>
                <p>CEO</p>
                <div class="member-description">
                    <h5>
                        CEO of the company. Visionary leader with a strong focus on customer satisfaction.
                    </h5>
                    <div class="social-icons">
                        <div class="email-container">
                            <h6 class="email-link m-5">
                                john.doe@example1.com                            <button class="btn">
                                    <svg class="bi bi-clipboard clipboard-icon mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5                           1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg>
                                </button>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="team-member">
                <img src="~/portret.jpg" alt="Team Member 3">
                <h3>Michael Johnson</h3>
                <p>CTO</p>
                <div class="member-description">
                    <h5>
                        CTO of the company. Technology enthusiast always seeking new challenges.
                    </h5>
                    <div class="social-icons">
                        <div class="email-container m-5">
                            <h6 class="email-link">
                                michael.johnson@gearrent.com                            <button class="btn">
                                    <svg class="bi bi-clipboard clipboard-icon mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5                           1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg>
                                </button>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row justify-content-center flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/luxuryCar.jpg" data-car-tag="Elegancki">
                <h3 class="category-title">Kategoria 3</h3>
                <p class="category-description m-4">Eleganckie samochody to połączenie klasyki i nowoczesności. Ich wyrafinowany design i luksusowe wykończenia wyróżniają Cię na drodze. Wnętrza zaprojektowane z dbałością o detal, zaawansowane technologie i wyjątkowy komfort jazdy sprawiają, że podróżowanie staje się wyjątkowe przeżycie.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/economicCar.jpg" data-car-tag="Ekonomiczny">
                <h3 class="category-title">Kategoria 4</h3>
                <p class="category-description m-4">Ekonomiczne samochody to doskonały wybór dla osób ceniących oszczędność. Dzięki niskiemu zużyciu paliwa i kompaktowym rozmiarom, te auta są idealne na krótsze wyjazdy w mieście lub na weekendowe podróże. Wygodne wnętrza i nowoczesne rozwiązania technologiczne sprawiają, że podróżowanie staje się przyjemnością.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/sportCar.jpg" data-car-tag="Sportowy">
                <h3 class="category-title">Kategoria 5</h3>
                <p class="category-description m-4">Samochody sportowe to adrenalina i emocje na każdym kilometrze. Z mocnymi silnikami, dynamicznym przyspieszeniem i wyjątkowym designem, te auta są stworzone dla miłośników szybkiej jazdy. Wyjątkowe osiągi idą w parze z futurystycznymi wnętrzami, tworząc niezapomniane doznania za kierownicą.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/comfortableCar.jpg" data-car-tag="Wygodny">
                <h3 class="category-title">Kategoria 6</h3></br>
                <p class="category-description m-4 text-center">Samochody z kategorii wygodnej to synonim komfortu i luksusu. Doskonale wyposażone, z przestronnym wnętrzem i zaawansowanymi systemami bezpieczeństwa, te auta zapewniają doskonałe warunki podróżowania dla Ciebie i Twoich pasażerów. Idealne do dłuższych tras i wyjątkowych okazji.</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>









<script>
    const bgImages = document.querySelectorAll('.bg-image');
    const emailContainers = document.querySelectorAll('.email-container');
    const carDivs = document.querySelectorAll(".bg-image-index");
    const categoryDivs = document.querySelectorAll(".rectangle");

    bgImages.forEach(bgImage => {
        const imageUrl = bgImage.getAttribute('data-image');
        bgImage.style.backgroundImage = `url('${imageUrl}')`;
    });

    emailContainers.forEach(emailContainer => {
        const emailLink = emailContainer.querySelector('.email-link');
        const clipboardIcon = emailContainer.querySelector('.clipboard-icon');

        clipboardIcon.addEventListener('click', function (event) {
            event.preventDefault();
            const emailAddress = emailLink.innerText;
            copyToClipboard(emailAddress);
        });
    });

    carDivs.forEach(div => {
        div.addEventListener("click", function () {
            const selectedCarTag = div.getAttribute("data-car-tag");
            localStorage.setItem("selectedCarTag", selectedCarTag);
            window.location.href = '@Url.Action("Index", "Cars")';
        });
    });

    categoryDivs.forEach(div => {
        const title = div.querySelector(".category-title");
        const description = div.querySelector(".category-description");

        div.addEventListener("mouseenter", function () {
            if (title) title.style.display = "none";
            if (description) description.style.display = "block";
        });

        div.addEventListener("mouseleave", function () {
            if (title) title.style.display = "block";
            if (description) description.style.display = "none";
        });
    });

    function copyToClipboard(text) {
        const tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('Email address copied to clipboard!');
    }
</script>
