@{
    ViewData["Title"] = "Home Page";
}
<style>
    .founder-card {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 30px;
    }
</style>
@*<div class="container-fluid">
    <div class="row justify-content-center flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/luxuryCar.jpg">Kategoria 3</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/economicCar.jpg">Kategoria 4</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/sportCar.jpg">Kategoria 5</div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image" data-image="/comfortableCar.jpg">Kategoria 6</div>
        </div>
    </div>
</div>*@
<div class="container-fluid">
    <div class="row justify-content-center flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" onclick="window.location.href='/kontakt'" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/luxuryCar.jpg">
                <h3>Kategoria 3</h3>
                <p>Opis kategorii 3</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/economicCar.jpg">
                <h3>Kategoria 4</h3>
                <p>Opis kategorii 4</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/sportCar.jpg">
                <h3>Kategoria 5</h3>
                <p>Opis kategorii 5</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center" style="flex-basis: 50%; margin-top: 10px;">
            <div class="rectangle bg-image bg-image-index" data-image="/comfortableCar.jpg">
                <h3>Kategoria 6</h3>
                <p>Opis kategorii 6</p>
            </div>
        </div>
    </div>
</div>
  <section class="container">
        <h1 class="text-center mt-5">O nas</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="founder-card">
                <img src="~/portret3.jpg" alt="Founder 1" class="img-fluid mb-3 founder-img">
                    <h3>Jan Kowalski</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper massa at turpis fermentum, nec consequat est sollicitudin.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="founder-card">
                <img src="~/portret.jpg" alt="Founder 2" class="img-fluid mb-3 founder-img">
                    <h3>Anna Nowak</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper massa at turpis fermentum, nec consequat est sollicitudin.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="founder-card">
                    <img src="~/portret2.jpg" alt="Founder 3" class="img-fluid mb-3 founder-img">
                    <h3>Marcin Kowalczyk</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper massa at turpis fermentum, nec consequat est sollicitudin.</p>
                </div>
            </div>
        </div>
    </section>
<script>
    const bgImages = document.querySelectorAll('.bg-image');

    bgImages.forEach(bgImage => {
        const imageUrl = bgImage.getAttribute('data-image');
        bgImage.style.backgroundImage = `url('${imageUrl}')`;
    });
</script>
