html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/


.car-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.car-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

    .car-item:hover {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .car-item img {
        max-width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }

    .car-item h5 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .car-item p {
        margin: 0;
    }

    .car-item .btn {
        margin-top: auto;
    }
.car-icons img {
    max-width: 100%;
}
.rectangle {
    width: 100vh;
    height: 50vh;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}

.bg-image {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    filter: brightness(80%);
    transition: filter 0.5s;
}
.bg-image-index:hover {
    filter: brightness(50%);
    transform: scale(1.051);
    transition: transform 0.5s ease-out;
}
.bg-image-index {
max-width:90%;
}
.car-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.row-car {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888;
    padding: 10px;
    margin-bottom: 20px;
}
    .row-car:hover {
        transform: scale(1.01);
    transition: transform 0.8s ease-out;
    }




table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
} 

tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

@media (max-width: 768px) {
    th, td {
        padding: 5px;
    }

    tr {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    td:before {
        content: attr(data-label);
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 5px;
    }
}
.team-member {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 100%;
    height: 800px;
}

    .team-member img {
        border-radius: 10%;
        margin-bottom: 10px;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .team-member h3 {
        margin-bottom: 10px;
    }


    .team-member p {
        color: #777;
    }
.car-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .car-icons img {
        width: 25px;
        height: 25px;
        margin-top: 7px;
    }

    .car-icons h4 {
        margin-top: 7px;
        margin-left: 5%;
    }

.icon {
    flex: 1 1 50%;
    display: flex;
    justify-content: safe center;
}

.footer-heading {
    font-size: 20px; 
}

.footer-text {
    font-size: 14px; 
}

.footer-input {
    font-size: 12px; 
}

.footer-btn {
    font-size: 12px;
}
.link-content {
    text-decoration: none !important;
    color: white !important;
}



